<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Console.GenerateFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <log4net debug="false">
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Console.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-2t] %-5p [%-4L] %c.%m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
  </log4net>

  <userSettings>
    <Console.GenerateFile.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>C:\Users\weichienyap\Desktop\ProcessedFile</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://13.228.37.220/EInvoice</value>
      </setting>
      <setting name="DevelopmentMode" serializeAs="String">
        <value>True</value>
      </setting>
    </Console.GenerateFile.Properties.Settings>
  </userSettings>
</configuration>